snippet _aelh "alterEGO file header" b
## ----------------------------------------------------------------------------
##             { alterEGO Linux: "Open the vault of knowledge" }             ##
## ----------------------------------------------------------------------------
##
## /${1:path}
##   created        : `date --utc "+%F %H:%M:%S %Z"`
##   updated        : `date --utc "+%F %H:%M:%S %Z"`
##   description    : ${2:description}
## ____________________________________________________________________________

endsnippet

snippet _aelf "alterEGO file footer" b

# vim: syntax=${1:syntax}
# vim: foldmethod=marker
## ___________________________{ FIN ¯\_(ツ)_/¯ }_______________________________
endsnippet
