snippet _dnh "Creates info section for droidnotes" b
<!-- --------------------------------------------------------------------------
##                   { droidnotes: "Recording knowledge" }                   ##
## ----------------------------------------------------------------------------
##
## /droidnotes/${1:filename}.md
##   id             : `date --utc "+%Y%m%d%H%M"`
##   created        : `date --utc "+%F %H:%M:%S %Z"`
##   updated        : `date --utc "+%F %H:%M:%S %Z"`
## ____________________________________________________________________________

# vim: foldmethod=marker
## ___________________________{ FIN ¯\_(ツ)_/¯ }___________________________ -->
endsnippet
