snippet head-ael "alterEGO file header" b
## ----------------------------------------------------------------------------
##             { alterEGO Linux: "Open the vault of knowledge" }             ##
## ----------------------------------------------------------------------------
##
## /${1:path}
##   created        : `date --utc "+%F %H:%M:%S %Z"`
##   updated        : `date --utc "+%F %H:%M:%S %Z"`
##   description    : ${2:description}
## ____________________________________________________________________________

endsnippet

snippet head-dn "Creates info section for droidnotes" b
<!-- --------------------------------------------------------------------------
##                   { droidnotes: "Recording knowledge" }                   ##
## ----------------------------------------------------------------------------
##
## /droidnotes/${1:filename}.md
##   note id        : `date --utc "+%Y%m%d%H%M"`
##   created        : `date --utc "+%F %H:%M:%S %Z"`
##   updated        : `date --utc "+%F %H:%M:%S %Z"`
## ________________________________________________________________________ -->

<!--
# vim: foldmethod=marker
## ___________________________{ FIN ¯\_(ツ)_/¯ }___________________________ -->
endsnippet

snippet head-fh "fantomH file header" b
## ----------------------------------------------------------------------------
##                { fantomH: "Open the vault of knowledge" }                 ##
## ----------------------------------------------------------------------------
##
## /${1:path}
##   created        : `date --utc "+%F %H:%M:%S %Z"`
##   updated        : `date --utc "+%F %H:%M:%S %Z"`
##   description    : ${2:description}
## ____________________________________________________________________________

endsnippet

snippet head-ramd "alterEGO file header" b
## ----------------------------------------------------------------------------
##                          { Radmied Support Team }                         ##
## ----------------------------------------------------------------------------
##
## /${1:path}
##   author         : pmalouin
##   created        : `date --utc "+%F %H:%M:%S %Z"`
##   updated        : `date --utc "+%F %H:%M:%S %Z"`
##   description    : ${2:description}
## ____________________________________________________________________________

endsnippet

snippet foot "file footer" b

## ----------------------------------------------------------------------------
# vim: foldmethod=marker
## ___________________________{ FIN ¯\_(ツ)_/¯ }_______________________________
endsnippet

snippet foot-dn "droidnotes footer" b

<!--
# vim: foldmethod=marker
## ___________________________{ FIN ¯\_(ツ)_/¯ }___________________________ -->
endsnippet

