snippet _ramdh "alterEGO file header" b
## ----------------------------------------------------------------------------
##                          { Radmied Support Team }                         ##
## ----------------------------------------------------------------------------
##
## /${1:path}
##   author         : pmalouin
##   created        : `date --utc "+%F %H:%M:%S %Z"`
##   updated        : `date --utc "+%F %H:%M:%S %Z"`
##   description    : ${2:description}
## ____________________________________________________________________________

endsnippet
