snippet _dni "Creates info section for droidnotes" b
<!-- --------------------------------------------------------------------------
##                  { droidnotes: "Recording knowledge" }                    ##
## ----------------------------------------------------------------------------
##
## /droidnotes/${1: filename}.md
##   id             : ${2:F9}
##   created        : ${3:2000-01-01 00:00:00 UTC}
##   updated        : ${4:2000-01-01 00:00:00 UTC}
## ____________________________________________________________________________

# vim: foldmethod=marker
## ___________________________{ FIN ¯\_(ツ)_/¯ }___________________________ -->
endsnippet
